[submodule "3rdparty/3rdparty-tools/googletest"]
	path = 3rdparty/3rdparty-tools/googletest
	url = https://github.com/google/googletest.git
[submodule "provider/cnm/test/bmtest"]
	path = provider/cnm/test/bmtest
	url = ../bmtest.git
[submodule "bmcv/sg_lib_driver"]
	path = bmcv/sg_lib_driver
	url = ../sg_lib_driver.git
